In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [2]:
import json

In [3]:
import pandas as pd

# # read the entire file into a python array
with open('/Users/gabrielanthonysanchez/Desktop/Data Science/DSI-projects/Python Tutorials/yelp/yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_business.json', 'rb') as f:
    data = f.readlines()

# # remove the trailing "\n" from each line
data = map(lambda x: x.rstrip(), data)

# # each element of 'data' is an individual JSON object.
# # i want to convert it into an *array* of JSON objects
# # which, in and of itself, is one large JSON object
# # basically... add square brackets to the beginning
# # and end, and have all the individual business JSON objects
# # separated by a comma
data_json_str = "[" + ','.join(data) + "]"
#print data_json_str
# # now, load it into pandas
businesses = pd.read_json(data_json_str)

In [4]:
businesses.head(2)

,attributes,business_id,categories,city,full_address,hours,latitude,longitude,name,neighborhoods,open,review_count,stars,state,type
0,"{u'Take-out': True, u'Drive-Thru': False, u'Ou...",5UmKMjUEUNdYWqANhGckJw,"[Fast Food, Restaurants]",Dravosburg,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{u'Tuesday': {u'close': u'21:00', u'open': u'1...",40.354327,-79.900706,Mr Hoagie,[],True,7,3.5,PA,business
1,"{u'Happy Hour': True, u'Accepts Credit Cards':...",UsFtqoBl7naz8AVUBZMjQQ,[Nightlife],Dravosburg,"202 McClure St\nDravosburg, PA 15034",{},40.350553,-79.886814,Clancy's Pub,[],True,5,3.0,PA,business

In [5]:
businesses['full_address'] = businesses['full_address'].apply(lambda x: x.strip('\n'))

In [6]:
del businesses['full_address']

In [7]:
del businesses['neighborhoods']

In [8]:
del businesses['review_count']
del businesses['hours']
del businesses['categories']
del businesses['city']
del businesses['state']
del businesses['type']
del businesses['attributes']
del businesses['latitude']
del businesses['longitude']

In [9]:
businesses.head(4)

              business_id                      name   open  stars
0  5UmKMjUEUNdYWqANhGckJw                 Mr Hoagie   True    3.5
1  UsFtqoBl7naz8AVUBZMjQQ              Clancy's Pub   True    3.0
2  cE27W9VPgO88Qxe4ol6y_g  Cool Springs Golf Center  False    2.5
3  mVHrayjG3uZ_RLHkLj-AMg             Emil's Lounge   True    4.5

In [10]:
biz = businesses

In [11]:
biz.head(3)

              business_id                      name   open  stars
0  5UmKMjUEUNdYWqANhGckJw                 Mr Hoagie   True    3.5
1  UsFtqoBl7naz8AVUBZMjQQ              Clancy's Pub   True    3.0
2  cE27W9VPgO88Qxe4ol6y_g  Cool Springs Golf Center  False    2.5

In [12]:
biz.name.isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
85871    False
85872    False
85873    False
85874    False
85875    False
85876    False
85877    False
85878    False
85879    False
85880    False
85881    False
85882    False
85883    False
85884    False
85885    False
85886    False
85887    False
85888    False
85889    False
85890    False
85891    False
85892    False
85893    False
85894    False
85895    False
85896    False
85897    False
85898    False
85899    False
85900    False
Name: name, dtype: bool

In [13]:
del biz['open']

In [14]:
biz.head(4)

              business_id                      name  stars
0  5UmKMjUEUNdYWqANhGckJw                 Mr Hoagie    3.5
1  UsFtqoBl7naz8AVUBZMjQQ              Clancy's Pub    3.0
2  cE27W9VPgO88Qxe4ol6y_g  Cool Springs Golf Center    2.5
3  mVHrayjG3uZ_RLHkLj-AMg             Emil's Lounge    4.5

In [15]:
biz.business_id.apply(lambda x: x.strip('\n1'))

0        5UmKMjUEUNdYWqANhGckJw
1        UsFtqoBl7naz8AVUBZMjQQ
2        cE27W9VPgO88Qxe4ol6y_g
3        mVHrayjG3uZ_RLHkLj-AMg
4        mYSpR_SLPgUVymYOvTQd_Q
5        KayYbHCt-RkbGcPdGOThNg
6        b12U9TFESStdy7CsTtcOeg
7        Sktj1eHQFuVa-M4bgnEh8g
8        3ZVKmuK2l7uXPE6lXY4Dbg
9        QoDa50dc7g62xciFygXB9w
10        _lU0-eSWJCRvNGk78Zh9Q
11       _qopVQ6_Mz6W7-Pmbi56GQ
12       wJr6kSA5dchdgOdwH6dZ2w
13       yXuao0pFz1AxB21vJjDf5w
14       LLJMI-_fSp6OYQuY4rwarw
15       F04xyOUA2xnUoCiWpx9iJA
16       Cdcus0NADzyY3XiJM2O5Sg
17       fNGIbpazjTRdXgwRY_NIXA
18       b9WZJp5L1RZr4F1nxclOoQ
19       zaXDakTd3RXyOa7sMrUE1g
20       zgy27FSnvwdINfk5cXBIyQ
21       WETE_LykpcnrC1sFcQ5EGg
22       6o3RK6rTcN3nw-j-r2nQmA
23       woOVJ0Z2f6XNCDntHA3b_g
24       rv7CY8G_XibTx82YhuqQRw
25       e_U_FnpdKVgNb4mUN2cU_Q
26       SQ0j7bgSTazkVQlF5AnqyQ
27       LTXS986DAz-4jE_sV2Ui4w
28       wqu7ILomIOPSduRwoWp4AQ
29        u2NauOy8xDj7aFQET680A
                  ...
85871    EB7_p4M5whur3KWesXE6gw
85872    m1sb0KxX6wjr1gdA0bCTvg
85873    iFX50dGCzWkVyunSZUzoiw
85874    5PGbTsWR0UN9QuzN2XljyQ
85875    xoMhBZHpY40EAyy6iQ_I-A
85876    jyNgr_fYls8Nwm1kgcza0Q
85877    9giI9_BtiLyANWUOPOpHLQ
85878    5JDMpRduKnuPz-1OsF0I_A
85879    C6_IoaDD3mddplTXdbKGEg
85880    UByngND8rAr6Qu2il34Qrw
85881    FcvkAc_OTDOOLLEln3jlxA
85882    h1aZ3B_i83ccUcjgtRfMaA
85883    ieZDYoAEq0xV4budBDOU6w
85884    BiufIB-tejW9JqJdxUZJ5w
85885    ECRjdXYLhGzQjCoZKeq6qg
85886    mCiSmiZ7iNI08F6dGXP7tw
85887    csnolzm2mzbsohha4jSi-g
85888    0c5BWTHCjKyxh4461H14IQ
85889    TFCPmrQj9PD1WvnZGYO85Q
85890    hNX62vEzvdVsMUMmYYHoPQ
85891    Tc_jU5vqV6208ElA6lNk-A
85892    ezB4DWv1MjWwjbIjVNAb9A
85893    56tU2oGqnPAn621Xl_9Fpw
85894    BxqRovZ76pJudWJE1tNXbg
85895    R4BA2eTM1jeIEq31EVlE4g
85896    m7-3lyY0CJEhePfJKWtD3w
85897    g0vvhkZWZKlwF8BUeSPaTA
85898    46L_7y9QXffPpOaXNLX8hg
85899    HuLzZUBkHEcHk6ETDJIVhQ
85900    DH2Ujt_hwcMBIz8VvCb0Lg
Name: business_id, dtype: object

In [16]:
# biz.to_csv()

In [17]:
print biz.astype

<bound method DataFrame.astype of                   business_id                                            name  \
0      5UmKMjUEUNdYWqANhGckJw                                       Mr Hoagie
1      UsFtqoBl7naz8AVUBZMjQQ                                    Clancy's Pub
2      cE27W9VPgO88Qxe4ol6y_g                        Cool Springs Golf Center
3      mVHrayjG3uZ_RLHkLj-AMg                                   Emil's Lounge
4      mYSpR_SLPgUVymYOvTQd_Q                            Grand View Golf Club
5      KayYbHCt-RkbGcPdGOThNg                           Alexion's Bar & Grill
6      b12U9TFESStdy7CsTtcOeg                     Flynn's Tire & Auto Service
7      Sktj1eHQFuVa-M4bgnEh8g                Forsythe Miniature Golf & Snacks
8      3ZVKmuK2l7uXPE6lXY4Dbg                       Quaker State Construction
9      QoDa50dc7g62xciFygXB9w                         Greentree Animal Clinic
10     1_lU0-eSWJCRvNGk78Zh9Q                           Carnegie Free Library
11     _qopVQ6_Mz6W7-Pmbi56GQ                              Advance Auto Parts
12     wJr6kSA5dchdgOdwH6dZ2w                         Kings Family Restaurant
13     yXuao0pFz1AxB21vJjDf5w                                    Shop N' Save
14     LLJMI-_fSp6OYQuY4rwarw                          Knorr's Sunoco Service
15     F04xyOUA2xnUoCiWpx9iJA                      Rossi Tailoring & Cleaners
16     Cdcus0NADzyY3XiJM2O5Sg                                  Heidelberg B P
17     fNGIbpazjTRdXgwRY_NIXA                                  Rocky's Lounge
18     b9WZJp5L1RZr4F1nxclOoQ                                       Gab & Eat
19     zaXDakTd3RXyOa7sMrUE1g                    Barb's Country Junction Cafe
20     zgy27FSnvwdINfk5cXBIyQ   Extended Stay America - Pittsburgh - Carnegie
21     WETE_LykpcnrC1sFcQ5EGg                              Paddy's Pour House
22     6o3RK6rTcN3nw-j-r2nQmA                      Porto Fino Pizzaria & Gyro
23     woOVJ0Z2f6XNCDntHA3b_g                                Alteration World
24     rv7CY8G_XibTx82YhuqQRw                              Long John Silver's
25     e_U_FnpdKVgNb4mUN2cU_Q                              Weinberg Lisa, DMD
26     SQ0j7bgSTazkVQlF5AnqyQ                      Don Don Chinese Restaurant
27     LTXS986DAz-4jE_sV2Ui4w                       Chartiers Animal Hospital
28     wqu7ILomIOPSduRwoWp4AQ                                         Denny's
29     1u2NauOy8xDj7aFQET680A                                        Amerifit
...                       ...                                             ...
85871  EB7_p4M5whur3KWesXE6gw                              Kanoa Strength Gym
85872  m1sb0KxX6wjr1gdA0bCTvg                                   MarchÃ© Adonis
85873  iFX50dGCzWkVyunSZUzoiw                         CM2 Pizzeria & Bakeshop
85874  5PGbTsWR0UN9QuzN2XljyQ                The Grand Central Coffee Company
85875  xoMhBZHpY40EAyy6iQ_I-A                               Sexy3D Extensions
85876  jyNgr_fYls8Nwm1kgcza0Q    Yelp Elites Celebrate The Zombie Apocalypse!
85877  9giI9_BtiLyANWUOPOpHLQ                 Elites at Overture: Kinky Boots
85878  5JDMpRduKnuPz-1OsF0I_A                  YEE: "Greed" at The Mob Museum
85879  C6_IoaDD3mddplTXdbKGEg                 YEE: An Evening With Kid Cashew
85880  UByngND8rAr6Qu2il34Qrw                               The Chicken Scoop
85881  FcvkAc_OTDOOLLEln3jlxA                               Pure Sushi Colony
85882  h1aZ3B_i83ccUcjgtRfMaA                                   Skin Awakened
85883  ieZDYoAEq0xV4budBDOU6w  Brad Winston, CPA/Realtor-King of Condos, Inc.
85884  BiufIB-tejW9JqJdxUZJ5w                                        Pita Pit
85885  ECRjdXYLhGzQjCoZKeq6qg                            Tokyo Sushi House II
85886  mCiSmiZ7iNI08F6dGXP7tw                          Kneaders Bakery & Cafe
85887  csnolzm2mzbsohha4jSi-g                                Frys Marketplace
85888  0c5BWTHCjKyxh4461H14IQ                          Photobetty Photography
85889  TFCPmrQj9PD1WvnZGYO85Q                                        Chestnut
85890  hNX62vEzvdVsMUMmYYHoPQ                         Greathouse Sports Grill
85891  Tc_jU5vqV6208ElA6lNk-A                                       Bar Louie
85892  ezB4DWv1MjWwjbIjVNAb9A                                Lyric Apartments
85893  56tU2oGqnPAn621Xl_9Fpw                                   Dunn's Import
85894  BxqRovZ76pJudWJE1tNXbg                              Aries Unisex Salon
85895  R4BA2eTM1jeIEq31EVlE4g                                Citta Delle Luci
85896  m7-3lyY0CJEhePfJKWtD3w                                  Bowties Bridal
85897  g0vvhkZWZKlwF8BUeSPaTA                                      Senor Taco
85898  46L_7y9QXffPpOaXNLX8hg                            Cobblestone Auto Spa
85899  HuLzZUBkHEcHk6ETDJIVhQ                          Princess Street Suites
85900  DH2Ujt_hwcMBIz8VvCb0Lg                             Salsarita's Express

       stars
0        3.5
1        3.0
2        2.5
3        4.5
4        5.0
5        4.0
6        2.5
7        4.0
8        2.5
9        4.0
10       4.5
11       3.5
12       3.5
13       4.0
14       3.5
15       3.0
16       3.0
17       4.0
18       4.5
19       4.0
20       3.5
21       3.5
22       2.5
23       4.5
24       3.0
25       2.5
26       2.5
27       3.5
28       3.5
29       3.0
...      ...
85871    5.0
85872    2.5
85873    5.0
85874    4.0
85875    5.0
85876    4.5
85877    4.5
85878    5.0
85879    5.0
85880    4.0
85881    4.0
85882    5.0
85883    5.0
85884    5.0
85885    3.0
85886    3.5
85887    2.5
85888    5.0
85889    3.5
85890    2.0
85891    2.5
85892    2.0
85893    4.0
85894    5.0
85895    3.0
85896    4.0
85897    3.5
85898    3.0
85899    4.0
85900    2.5

[85901 rows x 3 columns]>

In [18]:
# read the entire file into a python array
with open('/Users/gabrielanthonysanchez/Desktop/Data Science/DSI-projects/Python Tutorials/yelp/yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_tip.json', 'rb') as f:
    data = f.readlines()

# remove the trailing "\n" from each line
data = map(lambda x: x.rstrip(), data)

# each element of 'data' is an individual JSON object.
# i want to convert it into an *array* of JSON objects
# which, in and of itself, is one large JSON object
# basically... add square brackets to the beginning
# and end, and have all the individual business JSON objects
# separated by a comma
data_json_str = "[" + ','.join(data) + "]"
# print data_json_str
# now, load it into pandas
tips = pd.read_json(data_json_str)

In [19]:
tips.head()

,business_id,date,likes,text,type,user_id
0,5UmKMjUEUNdYWqANhGckJw,2016-07-17,0,Pizza is garbage. Hoagies are excellent.,tip,ZxdojCZgZhw36xuSGaryRg
1,cE27W9VPgO88Qxe4ol6y_g,2013-04-18,0,Don't waste your time.,tip,-6rEfobYjMxpUWLNxszaxQ
2,mVHrayjG3uZ_RLHkLj-AMg,2016-02-22,0,Not easy to find. Be sure to put in directions...,tip,5OumCBQ_MyQsltSdbMyunA
3,mVHrayjG3uZ_RLHkLj-AMg,2013-01-06,1,Your GPS will not allow you to find this place...,tip,EZ0r9dKKtEGVx2CdnowPCw
4,KayYbHCt-RkbGcPdGOThNg,2013-12-03,0,Great drink specials!,tip,xb6zEQCw9I-Gl0g06e1KsQ

In [20]:
del tips['date']
del tips['likes']
del tips['type']

In [21]:
tips.head(3)

,business_id,text,user_id
0,5UmKMjUEUNdYWqANhGckJw,Pizza is garbage. Hoagies are excellent.,ZxdojCZgZhw36xuSGaryRg
1,cE27W9VPgO88Qxe4ol6y_g,Don't waste your time.,-6rEfobYjMxpUWLNxszaxQ
2,mVHrayjG3uZ_RLHkLj-AMg,Not easy to find. Be sure to put in directions...,5OumCBQ_MyQsltSdbMyunA

In [22]:
biz.head(3)

              business_id                      name  stars
0  5UmKMjUEUNdYWqANhGckJw                 Mr Hoagie    3.5
1  UsFtqoBl7naz8AVUBZMjQQ              Clancy's Pub    3.0
2  cE27W9VPgO88Qxe4ol6y_g  Cool Springs Golf Center    2.5

In [23]:
biz['name'] = biz['name'].apply(lambda x: x.strip('\n'))

In [24]:
tips['text'] = tips['text'].apply(lambda x: x.strip('\n'))

In [25]:
yelp = biz.join(tips.set_index('business_id'), on = 'business_id', how = 'left')

In [26]:
yelp.head(3)

,business_id,name,stars,text,user_id
0,5UmKMjUEUNdYWqANhGckJw,Mr Hoagie,3.5,Pizza is garbage. Hoagies are excellent.,ZxdojCZgZhw36xuSGaryRg
1,UsFtqoBl7naz8AVUBZMjQQ,Clancy's Pub,3.0,NaN,NaN
2,cE27W9VPgO88Qxe4ol6y_g,Cool Springs Golf Center,2.5,Don't waste your time.,-6rEfobYjMxpUWLNxszaxQ

In [27]:
yelp.text.isnull().value_counts()

False    648902
True      28406
Name: text, dtype: int64

In [28]:
yelp.user_id.isnull().value_counts()

False    648902
True      28406
Name: user_id, dtype: int64

In [29]:
# # read the entire file into a python array
# with open('/Users/gabrielanthonysanchez/Desktop/Data Science/DSI-projects/Python Tutorials/yelp/yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_user.json', 'rb') as f:
#     data = f.readlines()

# # remove the trailing "\n" from each line
# data = map(lambda x: x.rstrip(), data)

# # each element of 'data' is an individual JSON object.
# # i want to convert it into an *array* of JSON objects
# # which, in and of itself, is one large JSON object
# # basically... add square brackets to the beginning
# # and end, and have all the individual business JSON objects
# # separated by a comma
# data_json_str = "[" + ','.join(data) + "]"
# # print data_json_str
# # now, load it into pandas
# users = pd.read_json(data_json_str)

In [30]:
# users.head(2)

In [31]:
# del users['elite']
# del users['fans']
# del users['compliments']
# del users['friends']
# del users['review_count']
# del users['type']
# del users['yelping_since']
# del users['']

In [32]:
# # read the entire file into a python array
# with open('/Users/gabrielanthonysanchez/Desktop/Data Science/DSI-projects/Python Tutorials/yelp/yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_checkin.json', 'rb') as f:
#     data = f.readlines()

# # remove the trailing "\n" from each line
# data = map(lambda x: x.rstrip(), data)

# # each element of 'data' is an individual JSON object.
# # i want to convert it into an *array* of JSON objects
# # which, in and of itself, is one large JSON object
# # basically... add square brackets to the beginning
# # and end, and have all the individual business JSON objects
# # separated by a comma
# data_json_str = "[" + ','.join(data) + "]"
# # print data_json_str
# # now, load it into pandas
# checkin = pd.read_json(data_json_str)

In [33]:
# checkin.head(2)

In [34]:
# # read the entire file into a python array
# with open('/Users/gabrielanthonysanchez/Desktop/Data Science/DSI-projects/Python Tutorials/yelp/yelp_dataset_challenge_academic_dataset/yelp_academic_dataset_review.json', 'rb') as f:
#     data = f.readlines()

# # remove the trailing "\n" from each line
# data = map(lambda x: x.rstrip(), data)

# # each element of 'data' is an individual JSON object.
# # i want to convert it into an *array* of JSON objects
# # which, in and of itself, is one large JSON object
# # basically... add square brackets to the beginning
# # and end, and have all the individual business JSON objects
# # separated by a comma
# data_json_str = "[" + ','.join(data) + "]"
# # print data_json_str
# # now, load it into pandas
# reviews = pd.read_json(data_json_str)

In [35]:
# reviews.head(2)

In [36]:
yelp.head(2)

,business_id,name,stars,text,user_id
0,5UmKMjUEUNdYWqANhGckJw,Mr Hoagie,3.5,Pizza is garbage. Hoagies are excellent.,ZxdojCZgZhw36xuSGaryRg
1,UsFtqoBl7naz8AVUBZMjQQ,Clancy's Pub,3.0,NaN,NaN

In [3]:
yelp.to_csv('yelp.csv', encoding = 'utf_8')

NameError: name 'yelp' is not defined

In [3]:
yelp = pd.read_csv('/Users/gabrielanthonysanchez/Desktop/Data Science/DSI-projects/Python Tutorials/yelp.csv')
yelp.head(3)

,Unnamed: 0,business_id,name,stars,text,user_id
0,0,5UmKMjUEUNdYWqANhGckJw,Mr Hoagie,3.5,Pizza is garbage. Hoagies are excellent.,ZxdojCZgZhw36xuSGaryRg
1,1,UsFtqoBl7naz8AVUBZMjQQ,Clancy's Pub,3.0,NaN,NaN
2,2,cE27W9VPgO88Qxe4ol6y_g,Cool Springs Golf Center,2.5,Don't waste your time.,-6rEfobYjMxpUWLNxszaxQ

In [8]:
yelp.dtypes

Unnamed: 0       int64
business_id     object
name            object
stars          float64
text            object
user_id         object
dtype: object

In [9]:
print yelp

        Unnamed: 0             business_id                              name  \
0                0  5UmKMjUEUNdYWqANhGckJw                         Mr Hoagie
1                1  UsFtqoBl7naz8AVUBZMjQQ                      Clancy's Pub
2                2  cE27W9VPgO88Qxe4ol6y_g          Cool Springs Golf Center
3                3  mVHrayjG3uZ_RLHkLj-AMg                     Emil's Lounge
4                3  mVHrayjG3uZ_RLHkLj-AMg                     Emil's Lounge
5                4  mYSpR_SLPgUVymYOvTQd_Q              Grand View Golf Club
6                5  KayYbHCt-RkbGcPdGOThNg             Alexion's Bar & Grill
7                5  KayYbHCt-RkbGcPdGOThNg             Alexion's Bar & Grill
8                5  KayYbHCt-RkbGcPdGOThNg             Alexion's Bar & Grill
9                5  KayYbHCt-RkbGcPdGOThNg             Alexion's Bar & Grill
10               6  b12U9TFESStdy7CsTtcOeg       Flynn's Tire & Auto Service
11               7  Sktj1eHQFuVa-M4bgnEh8g  Forsythe Miniature Golf & Snacks
12               8  3ZVKmuK2l7uXPE6lXY4Dbg         Quaker State Construction
13               9  QoDa50dc7g62xciFygXB9w           Greentree Animal Clinic
14              10  1_lU0-eSWJCRvNGk78Zh9Q             Carnegie Free Library
15              10  1_lU0-eSWJCRvNGk78Zh9Q             Carnegie Free Library
16              11  _qopVQ6_Mz6W7-Pmbi56GQ                Advance Auto Parts
17              11  _qopVQ6_Mz6W7-Pmbi56GQ                Advance Auto Parts
18              12  wJr6kSA5dchdgOdwH6dZ2w           Kings Family Restaurant
19              12  wJr6kSA5dchdgOdwH6dZ2w           Kings Family Restaurant
20              13  yXuao0pFz1AxB21vJjDf5w                      Shop N' Save
21              14  LLJMI-_fSp6OYQuY4rwarw            Knorr's Sunoco Service
22              15  F04xyOUA2xnUoCiWpx9iJA        Rossi Tailoring & Cleaners
23              16  Cdcus0NADzyY3XiJM2O5Sg                    Heidelberg B P
24              16  Cdcus0NADzyY3XiJM2O5Sg                    Heidelberg B P
25              17  fNGIbpazjTRdXgwRY_NIXA                    Rocky's Lounge
26              17  fNGIbpazjTRdXgwRY_NIXA                    Rocky's Lounge
27              17  fNGIbpazjTRdXgwRY_NIXA                    Rocky's Lounge
28              18  b9WZJp5L1RZr4F1nxclOoQ                         Gab & Eat
29              18  b9WZJp5L1RZr4F1nxclOoQ                         Gab & Eat
...            ...                     ...                               ...
677278       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677279       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677280       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677281       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677282       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677283       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677284       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677285       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677286       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677287       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677288       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677289       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677290       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677291       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677292       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677293       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677294       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677295       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677296       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677297       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677298       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677299       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677300       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677301       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677302       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677303       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677304       85897  g0vvhkZWZKlwF8BUeSPaTA                        Senor Taco
677305       85898  46L_7y9QXffPpOaXNLX8hg              Cobblestone Auto Spa
677306       85899  HuLzZUBkHEcHk6ETDJIVhQ            Princess Street Suites
677307       85900  DH2Ujt_hwcMBIz8VvCb0Lg               Salsarita's Express

        stars                                               text  \
0         3.5           Pizza is garbage. Hoagies are excellent.
1         3.0                                                NaN
2         2.5                             Don't waste your time.
3         4.5  Not easy to find. Be sure to put in directions...
4         4.5  Your GPS will not allow you to find this place...
5         5.0                                                NaN
6         4.0                              Great drink specials!
7         4.0  Friendly staff, good food, great beer selectio...
8         4.0  Fantastic! Great food, excellent beer selectio...
9         4.0  I love this place! Great prices, great food, g...
10        2.5                                                NaN
11        4.0                                                NaN
12        2.5                                                NaN
13        4.0                                                NaN
14        4.5                             Beautiful restoration.
15        4.5                    Home to Stage 62 theatre group.
16        3.5              A God send if you're not a gear head!
17        3.5     Great people ... great service ... always busy
18        3.5        Family atmosphere and super friendly staff!
19        3.5  Sarah rocks! Best waitress here! Be sure to ge...
20        4.0                                                NaN
21        3.5                                                NaN
22        3.0                                                NaN
23        3.0                                      Unleaded 3.42
24        3.0                                      Gas ...  3.45
25        4.0  Great local bar. Theresa does a great job. San...
26        4.0  Friendly staff. Good service. Awesome fish san...
27        4.0  Decent selection of more than just bar food. \...
28        4.5                                     I'm in heaven.
29        4.5  If you haven't come for lunch you are missing ...
...       ...                                                ...
677278    3.5                    Open til 2 am Friday & Saturday
677279    3.5                       Get the carne asada fries...
677280    3.5  I like that their guacamole doesn't have tomat...
677281    3.5  Good breakfast burritos , shrimp burrito and s...
677282    3.5  The drive thru takes a little bit so it might ...
677283    3.5                            Carne Asada Burrito A++
677284    3.5  I got a cheese enchilada here and the cheese i...
677285    3.5  I love this fast food Mexican restaurant. You ...
677286    3.5                        SeÃ±or combo.  Enough said!!
677287    3.5                                          Breakfast
677288    3.5  Drive thru is taking forever  should if went i...
677289    3.5                             Carnitas burrito rocks
677290    3.5                           Pretty good tacos folks!
677291    3.5  Breakfast im starving... kinda unhappy she mes...
677292    3.5  Drive thru sucks but its worth the wait! Love ...
677293    3.5  Wth is a carne asada red chile I am about to t...
677294    3.5  This food is more authentic than your typical ...
677295    3.5  I had the chipotle chicken burrito wet.. One w...
677296    3.5                      Mm mm mmmmm I love senor taco
677297    3.5                                         Overpriced
677298    3.5  Quick Mexican food more authentic than Taco Be...
677299    3.5                                Totes for Realsies!
677300    3.5                            They added more seating
677301    3.5  Taco Tuesday $1 Carne asada mini tacos on corn...
677302    3.5  Food is good, not low fat though! Service is g...
677303    3.5  Very good burritos! My kids loved it!Best sals...
677304    3.5  Sixth night of Mexican in Phoenix and this pla...
677305    3.0  $20 a month for unlimited washes! Thank Carlos...
677306    4.0                                                NaN
677307    2.5                                                NaN

                       user_id
0       ZxdojCZgZhw36xuSGaryRg
1                          NaN
2       -6rEfobYjMxpUWLNxszaxQ
3       5OumCBQ_MyQsltSdbMyunA
4       EZ0r9dKKtEGVx2CdnowPCw
5                          NaN
6       xb6zEQCw9I-Gl0g06e1KsQ
7       QawZN4PSW7ng_9SP7pjsVQ
8       8K8qHAH9AREKxIIZAwQ9Fg
9       U3VIAqv7eaCCorYsVCRCHA
10                         NaN
11                         NaN
12                         NaN
13                         NaN
14      MLQre1nvUtW-RqMTc4iC9A
15      bvu13GyOUwhEjPum2xjiqQ
16      bvu13GyOUwhEjPum2xjiqQ
17      _QFom7aSHKNCDsNXKd-3xQ
18      uq9BiSmTx6hpIo3piXMysQ
19      fvTivrsJoUMYXnOJw9wZfw
20                         NaN
21                         NaN
22                         NaN
23      bvu13GyOUwhEjPum2xjiqQ
24      bvu13GyOUwhEjPum2xjiqQ
25      _wbuJtXPZGT6U1Qg5hV4VQ
26      284ZoU1QyY1y-_j0YYJH3g
27      6GrH6gp09pqYykGv86D6Dg
28      gl46Pxc4OzLai8JVyxUIwA
29      6GrH6gp09pqYykGv86D6Dg
...                        ...
677278  PDH9kWE8I9VXT7b4CX9Wow
677279  I-dgpdiosnteXfBzn-Y71w
677280  2bPuKSMkC5bSWkPL56Kr2A
677281  26wW6FNWdmC23Vz-sjy9Dw
677282  2li317oUeXfPNjyPAvm6wg
677283  2li317oUeXfPNjyPAvm6wg
677284  2li317oUeXfPNjyPAvm6wg
677285  jzV4F-76GqoJKBtBrRFN0w
677286  uzHRZxiyxKNTkkAuCfycPw
677287  26wW6FNWdmC23Vz-sjy9Dw
677288  26wW6FNWdmC23Vz-sjy9Dw
677289  FMtO7NbZZldrVtC-l4Nnqg
677290  hJYje1DGD6XlANwBbwG-Jg
677291  26wW6FNWdmC23Vz-sjy9Dw
677292  FMtO7NbZZldrVtC-l4Nnqg
677293  26wW6FNWdmC23Vz-sjy9Dw
677294  B9_u34o_iG_vbIW2suFlQg
677295  3Xdial3M7dbZkygA0L-Zsg
677296  FMtO7NbZZldrVtC-l4Nnqg
677297  zgrCUe1zfgApuASqAz90vA
677298  k2q-ZwcXgH4Fszrj1EE51Q
677299  ofgq4WD0CYFn58zywqp0rQ
677300  26wW6FNWdmC23Vz-sjy9Dw
677301  j472C2lnLtcdyXz4qA0YrA
677302  pRs72XwZfm1DhNaPUFj_Nw
677303  _FE_Qf-pW8YOV1Q24Pvaeg
677304  f2yrVy2iVooO1_pMCr9XNg
677305  C5UZ88NJSguhi1DfZNUIAg
677306                     NaN
677307                     NaN

[677308 rows x 6 columns]

In [4]:
del yelp['user_id']
del yelp['business_id']

In [7]:
yelp.head()

,Unnamed: 0,name,stars,text
0,0,Mr Hoagie,3.5,Pizza is garbage. Hoagies are excellent.
1,1,Clancy's Pub,3.0,NaN
2,2,Cool Springs Golf Center,2.5,Don't waste your time.
3,3,Emil's Lounge,4.5,Not easy to find. Be sure to put in directions...
4,3,Emil's Lounge,4.5,Your GPS will not allow you to find this place...

In [12]:
yelp.name.is_unique

False

In [13]:
yelp.groupby(by = 'name', axis = 0)

In [14]:
yelp.head(3)

,Unnamed: 0,name,stars,text
0,0,Mr Hoagie,3.5,Pizza is garbage. Hoagies are excellent.
1,1,Clancy's Pub,3.0,NaN
2,2,Cool Springs Golf Center,2.5,Don't waste your time.

In [15]:
yelp.name.is_unique

False

In [16]:
yelp.name

0                                Mr Hoagie
1                             Clancy's Pub
2                 Cool Springs Golf Center
3                            Emil's Lounge
4                            Emil's Lounge
5                     Grand View Golf Club
6                    Alexion's Bar & Grill
7                    Alexion's Bar & Grill
8                    Alexion's Bar & Grill
9                    Alexion's Bar & Grill
10             Flynn's Tire & Auto Service
11        Forsythe Miniature Golf & Snacks
12               Quaker State Construction
13                 Greentree Animal Clinic
14                   Carnegie Free Library
15                   Carnegie Free Library
16                      Advance Auto Parts
17                      Advance Auto Parts
18                 Kings Family Restaurant
19                 Kings Family Restaurant
20                            Shop N' Save
21                  Knorr's Sunoco Service
22              Rossi Tailoring & Cleaners
23                          Heidelberg B P
24                          Heidelberg B P
25                          Rocky's Lounge
26                          Rocky's Lounge
27                          Rocky's Lounge
28                               Gab & Eat
29                               Gab & Eat
                        ...
677278                          Senor Taco
677279                          Senor Taco
677280                          Senor Taco
677281                          Senor Taco
677282                          Senor Taco
677283                          Senor Taco
677284                          Senor Taco
677285                          Senor Taco
677286                          Senor Taco
677287                          Senor Taco
677288                          Senor Taco
677289                          Senor Taco
677290                          Senor Taco
677291                          Senor Taco
677292                          Senor Taco
677293                          Senor Taco
677294                          Senor Taco
677295                          Senor Taco
677296                          Senor Taco
677297                          Senor Taco
677298                          Senor Taco
677299                          Senor Taco
677300                          Senor Taco
677301                          Senor Taco
677302                          Senor Taco
677303                          Senor Taco
677304                          Senor Taco
677305                Cobblestone Auto Spa
677306              Princess Street Suites
677307                 Salsarita's Express
Name: name, dtype: object

In [17]:
yelp.describe()

          Unnamed: 0          stars
count  677308.000000  677308.000000
mean    38016.748801       3.713559
std     21761.433804       0.666425
min         0.000000       1.000000
25%     20285.000000       3.500000
50%     36000.000000       4.000000
75%     54575.000000       4.000000
max     85900.000000       5.000000

In [32]:
sns.pairplot(yelp)

In [18]:
yelp.text.isnull().value_counts()

False    648902
True      28406
Name: text, dtype: int64

In [19]:
(yelp.text.isnull().value_counts()) / (yelp.text.value_counts())

False                                                                                                                                         NaN
True                                                                                                                                          NaN
 Sunday night is their best night with "metalhead"  performing everything from quiet riot to poison. Costumes and rock star 'tudes included   NaN
!                                                                                                                                             NaN
!    !                                                                                                                                        NaN
! ! !                                                                                                                                         NaN
! Been in the building 45  minutes waiting!                                                                                                   NaN
! I really enjoyed this place, especially the wings! I highly recommend it.                                                                   NaN
!!                                                                                                                                            NaN
!!  !!                                                                                                                                        NaN
!! 1 lb shrimp HnJ Special !! order of Cajun Fries and a side of rice                                                                         NaN
!! If you love to be in the kitchen and are always looking for new toys, be prepared to spend some time here!                                 NaN
!!!                                                                                                                                           NaN
!!! !!!!                                                                                                                                      NaN
!!! 99cent Tuesdays !!!                                                                                                                       NaN
!!! Delicious meat. Brisket, YES! Chicken: YES! Green chili: YES! GO HERE NOW!                                                                NaN
!!! the SOUND is Tremendous !!!\ni like                                                                                                       NaN
!!! ~ out of business ~ !!!                                                                                                                   NaN
!!!!                                                                                                                                          NaN
!!!! $7 for a tiny cappuccino!!!!!\n\navoid this joint!!!!!\n\ntotal robbery!!!!!                                                             NaN
!!!!!                                                                                                                                         NaN
!!!!! :):):)                                                                                                                                  NaN
!!!!! Lobster, clam,,,                                                                                                                        NaN
!!!!!!!                                                                                                                                       NaN
!!!!!!!!                                                                                                                                      NaN
!!!!!!!! the most pinball i have ever seen!                                                                                                   NaN
!!!!!!!!! Dope shop! Clean. Friendly staff. Good prices. Come!                                                                                NaN
!!!!!!!!!!!                                                                                                                                   NaN
!!!!!!!!!!!!!!!!!!! moar carne asada !!!!!!!!!!!!!!!!!!!!                                                                                     NaN
!!!!!!!!!!!!!!!!!!!!!!!!!!                                                                                                                    NaN
                                                                                                                                               ..
è£æ½¢çå¾æ©ç»ï¼å°±å¨æ³³æ± æéï¼æä»¥æè¦ºéå¸¸æä¼éï¼é£ç©ä¹éä¸é¯ï¼è£é£¾çé£ç©ä¹å¾æ¼äº®ï¼å¹é¢å°±æ¯è²´äºä¸é»ï¼                                                                                            NaN
è£æ½¢çå¾æ°æ½®ï¼é£ç©å¥½åé½æ¯ä»¥æ¥æ¬ææ²çºä¸»ã\nå¹æ ¼éç®åçï¼é£ç©ååä¸è¬è¬ï¼æºé£¾ä¹éå¯ä»¥ï¼                                                                                                 NaN
è¦é¢ä¸å¦èåï¼it was ok, like other Chinese restaurants in the U.S.                                                                                  NaN
è®¢é¤ä½éªè¶çº§å·®ï¼çµè¯å·ç è®°éï¼å°åä¹è®°éï¼ç­äºä¸¤ä¸ªå¤å°æ¶ãå¯¹åå®¶åäºé£æ ¼å¾æ è¯­ï¼åä¹ä¸æ³å¨è¿å®¶åºè®¢é¤äº                                                                                           NaN
è¶å¥½åï¼è¶å¤§ä»½ï¼ ç¹ççæï¼ççå¾æ£ï¼ä»·æ ¼ä¹ä¸ä¼è´µ  è®°å¾ç±åè¾£çä½ ï¼ä¸å®è¦é®æå¡åè¶è¾£é±                                                                                                 NaN
è¶ççæå,çä¸èã                                                                                                                                    NaN
è¿å®¶åºå¢ï¼è¿é¨æè¡æµççé±¼é²å³éãéåºäºè¿å¥½ãèéå¾å¤§ãå³éæè§ä¸è¬å§ãå¯è½æ¯å ä¸ºæä¸åæ¬¢æ³°å½èçç¼æã                                                                                          NaN
è¿å®¶ç®ç´æ¯åå¾ä¸­çæææºãé¾ååç²¾è´ãå¥¶å¥¶çãé½æ²¡è§è¿è¿å°çsushiãé£ä»ä¹ramanå±ç¶æ¯éé£é¢ãé ï¼æµªè´¹é±ãé»ï¼                                                                                   NaN
è¿æ¯ä¸å®¶ç®åä½å³éä¸éçé¤åï¼ç¯å¢å¾æ¸©é¦¨ï½                                                                                                                         NaN
è¿æ¯æä»¬æåæ¬¢çå°æ¹ï¼there are many place for frozen yogurt , this is the best place.                                                                   NaN
è¿çæ¯ä¸å®¶ä¸éçé¤åã                                                                                                                                   NaN
éä¸æyelpçç¬¬ä¸ä¸ªäºæè¯ä»·ï¼æ§ä»·æ¯è¶é«çåºï¼æ²³ç²ä¹å¯ä»¥æ¿æ¢æé¢æ¡ï¼åç§é¥­ä¹ä¸éï¼æä¸»è¦æ¯è¿æçç å¥¶è¶å¯ä»¥åï¼è¿æä»ä¹å¯æçå¢                                                                              NaN
éå®¶æ¥å¼æçæ¯æåéçææ°é®® æå¥½åç                                                                                                                           NaN
é±æ«ã ã£ãã®ã§å¤§åå¾ã¡ã¾ããã                                                                                                                               NaN
é¸èé±¼ç²ä¸è¶çº§æ£ãã                                                                                                                                    NaN
éè¥¿èï¼æ»æ¯æ»¡åº§ï¼åè½¦é¾ãå³éä¸éï¼å°±å¨æä¼å¯¹é¢ãçæå¾å¥½ï¼å°±æ¯åºèæ¢äºäºãææ¶é´çå­¦çå¾å¤ã                                                                                               NaN
é¾å                                                                                                                                            NaN
éå¸¸ä¸ä¸çèåºææ© ç¹å«æ¯danny è®¤çè´è´£ ææ¯å°ä½                                                                                                                  NaN
éå¸¸å¥½åçååé¢ï¼åç®åé­èçå­ãèæ¿ä¸å®¶åå¥½ç­æãæ¨èï¼                                                                                                                 NaN
éå¸¸å¥½åçååé¢ï¼åç®åé­èçå­ãèæ¿ä¸å®¶åå¥½ç­æãæ¨èï¼ï¼                                                                                                                NaN
éå¸¸å¥½åçæ±å ¡ï¼èé¥¼ç®ç´æ£çº§äºï¼èé¥¼éè¿æç­ç¤çå³é,å¥½åçduang~                                                                                                          NaN
éå¸¸å¥½å³åå¹é¢åçï¼ä¸å®åé»!                                                                                                                               NaN
éå¸¸æ£ï¼ä¸å®è¦æ¥ï¼å·èçå³éå¾å°éï¼ç¹å«æ¯åèéçåæèä¸ãæ¨èçè±è±é±¼çï¼çªèé½å¾å¥½åï¼èä¸ä»·æ ¼ç¹å«å®æ ï¼èæ¿ä¹ç¹å«å¯ç±åç­æã                                                                             NaN
éå¸¸éå¸¸å¥½åï¼éå¸¸éå¸¸æ¨è                                                                                                                                 NaN
é£ç©å¥½ æåæåº¦ä¸é¯                                                                                                                                    NaN
é£²è¶(Dim sum)!!!                                                                                                                                NaN
é¤åå¾æ£ï¼æ®è¯´è¿éæå¡é²æå¥½åçæ«è¨ãè£æ½¢å¾å¥½ï¼å¤§çè½å°çªæ¯æçåæ¬¢çé£æ ¼ï¼å¾ç½ãå°é¥­ç¹äººå¾å¤ï¼æå¥½æåé¢è®¢                                                                                        NaN
é®­é­æçå¾è®                                                                                                                                        NaN
ï¼thank you very much very nice place. and                                                                                                     NaN
ï¼¼(^o^)ï¼                                                                                                                                       NaN
Name: text, dtype: float64

In [25]:
yelp.text.dropna

<bound method Series.dropna of 0                  Pizza is garbage. Hoagies are excellent.
1                                                       NaN
2                                    Don't waste your time.
3         Not easy to find. Be sure to put in directions...
4         Your GPS will not allow you to find this place...
5                                                       NaN
6                                     Great drink specials!
7         Friendly staff, good food, great beer selectio...
8         Fantastic! Great food, excellent beer selectio...
9         I love this place! Great prices, great food, g...
10                                                      NaN
11                                                      NaN
12                                                      NaN
13                                                      NaN
14                                   Beautiful restoration.
15                          Home to Stage 62 theatre group.
16                    A God send if you're not a gear head!
17           Great people ... great service ... always busy
18              Family atmosphere and super friendly staff!
19        Sarah rocks! Best waitress here! Be sure to ge...
20                                                      NaN
21                                                      NaN
22                                                      NaN
23                                            Unleaded 3.42
24                                            Gas ...  3.45
25        Great local bar. Theresa does a great job. San...
26        Friendly staff. Good service. Awesome fish san...
27        Decent selection of more than just bar food. \...
28                                           I'm in heaven.
29        If you haven't come for lunch you are missing ...
                                ...
677278                      Open til 2 am Friday & Saturday
677279                         Get the carne asada fries...
677280    I like that their guacamole doesn't have tomat...
677281    Good breakfast burritos , shrimp burrito and s...
677282    The drive thru takes a little bit so it might ...
677283                              Carne Asada Burrito A++
677284    I got a cheese enchilada here and the cheese i...
677285    I love this fast food Mexican restaurant. You ...
677286                          SeÃ±or combo.  Enough said!!
677287                                            Breakfast
677288    Drive thru is taking forever  should if went i...
677289                               Carnitas burrito rocks
677290                             Pretty good tacos folks!
677291    Breakfast im starving... kinda unhappy she mes...
677292    Drive thru sucks but its worth the wait! Love ...
677293    Wth is a carne asada red chile I am about to t...
677294    This food is more authentic than your typical ...
677295    I had the chipotle chicken burrito wet.. One w...
677296                        Mm mm mmmmm I love senor taco
677297                                           Overpriced
677298    Quick Mexican food more authentic than Taco Be...
677299                                  Totes for Realsies!
677300                              They added more seating
677301    Taco Tuesday $1 Carne asada mini tacos on corn...
677302    Food is good, not low fat though! Service is g...
677303    Very good burritos! My kids loved it!Best sals...
677304    Sixth night of Mexican in Phoenix and this pla...
677305    $20 a month for unlimited washes! Thank Carlos...
677306                                                  NaN
677307                                                  NaN
Name: text, dtype: object>

In [5]:
yelp_clean = yelp.dropna()

In [6]:
del yelp_clean['Unnamed: 0']

In [10]:
yelp_clean.head()

,name,stars,text
0,Mr Hoagie,3.5,Pizza is garbage. Hoagies are excellent.
2,Cool Springs Golf Center,2.5,Don't waste your time.
3,Emil's Lounge,4.5,Not easy to find. Be sure to put in directions...
4,Emil's Lounge,4.5,Your GPS will not allow you to find this place...
6,Alexion's Bar & Grill,4.0,Great drink specials!

In [20]:
yelp_clean.shape

(648902, 3)

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf  = TfidfVectorizer(
                ngram_range = (1, 2), # Have n-gram sizes of 1 and two
                stop_words = 'english', # Use english stop words
                binary = False, # Count frequency rather than appearance
                max_features = 300,
                analyzer = 'word',
                encoding= 'utf-8') # Take 300 top words

In [10]:
text_mat = tfidf.fit_transform(yelp_clean.text) # fit to each of the revies present
text_mat

<648902x300 sparse matrix of type '<type 'numpy.float64'>'
	with 1916362 stored elements in Compressed Sparse Row format>

In [12]:
features = tfidf.get_feature_names()

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(analyzer= 'word', vocabulary= features, stop_words="english")
vectorizer.fit_transform(yelp_clean.text)

<648902x300 sparse matrix of type '<type 'numpy.int64'>'
	with 1828020 stored elements in Compressed Sparse Row format>

In [15]:
cv = vectorizer.fit_transform(yelp_clean.text)

In [16]:
cvd = cv.todense()

In [18]:
from sklearn.feature_selection import SelectKBest
from itertools import compress
from sklearn.linear_model import LogisticRegression




SKBest = SelectKBest(k=100)

In [45]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(yelp_clean.stars)
le.classes_

array([ 1. ,  1.5,  2. ,  2.5,  3. ,  3.5,  4. ,  4.5,  5. ])

In [55]:
y = le.transform(yelp_clean.stars)

In [56]:
y

array([5, 3, 7, ..., 5, 5, 4])

In [23]:
arr = SKBest.fit_transform(cvd, y)

//anaconda/envs/DSIenv/lib/python2.7/site-packages/sklearn/feature_selection/univariate_selection.py:113: UserWarning: Features [ 59  91  92  93  99 106 107 110 111 112 118 132 140 158 162 206 227] are constant.
  UserWarning)

In [24]:
arr.shape

(648902, 100)

In [25]:
filt = SKBest.get_support()

In [26]:
filtered_features = list(compress(features, filt))

In [27]:
df = pd.DataFrame(data=arr, 
                  index=None, 
                  columns=filtered_features)

In [57]:
from sklearn.cross_validation import train_test_split, cross_val_score
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size = .30)

In [ ]:
# y_train1 = y_train.map(lambda x: x*2).astype("int")

In [58]:
LogReg = LogisticRegression()

In [59]:
LogReg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [62]:
LogReg.score(X_train, y_train)

0.3479463092567438

In [66]:
y_pred = LogReg.predict(X_test)

In [65]:
from sklearn.metrics import confusion_matrix, classification_report

In [71]:
print classification_report(y_test, y_pred)

             precision    recall  f1-score   support

          0       0.00      0.00      0.00       172
          1       0.00      0.00      0.00      1202
          2       0.15      0.00      0.00      3334
          3       0.23      0.01      0.01     10667
          4       0.20      0.01      0.01     24579
          5       0.29      0.08      0.13     51948
          6       0.35      0.94      0.51     66815
          7       0.33      0.02      0.03     31077
          8       0.25      0.01      0.02      4877

avg / total       0.30      0.35      0.22    194671

In [72]:
LogReg.get_params().keys()

['warm_start',
 'C',
 'n_jobs',
 'verbose',
 'intercept_scaling',
 'fit_intercept',
 'max_iter',
 'penalty',
 'multi_class',
 'random_state',
 'dual',
 'tol',
 'solver',
 'class_weight']

In [73]:
from sklearn.grid_search import GridSearchCV

//anaconda/envs/DSIenv/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [77]:
grid = GridSearchCV(LogReg,
                   param_grid = {"logisticregression__C":[1.0]})

In [78]:
grid.fit(X_train, y_train)

ValueError: Invalid parameter logisticregression for estimator LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False). Check the list of available parameters with `estimator.get_params().keys()`.